{% extends "base.html" %}

{% block content %}

<header class="masthead mb-auto">
    <main role="main" class="inner cover">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal">Add Photo to Album</h1>
          <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
          <a class="btn btn-outline-secondary" href="{% url 'list_albums' %}">Albums</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div> 
      </main>
       </nav>
</header>
<div class="flex">
    <div class="w-50 pr3 flex flex-column">
      <h2>{{ album.title }}</h2>
      <div id="album-container" class="flex-auto" data-album="{{ album.pk }}"></div>
    </div>
    
    <div class="w-50 flex flex-column ">
      <h2>Available photos</h2>
      <div id="photos" class="d-md-flex flex-wrap pl-md-3" data-album="{{ album.pk }}">
      {% for photo in photos.all %}
        <div class="mr-md-2" style="cursor: move" data-pk="{{ photo.pk }}"><img src="{{ photo.photo_thumbnail.url }}"></div>
      {% endfor %}
      </div>
    </div>
    </div>



<div class="mt2 mb0 f6 fw4 ttu tracked tc mw7 center mt4">
  <form class="mt2 mb0 f6 fw4 ttu tracked center " action="{% url 'add_photo_to_album' pk=album.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button class="btn btn-outline-secondary" type="submit">Add</button>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>

  dragula([
    document.getElementById("album-container"),
    document.getElementById("photos")
  ])
  .on('drop', (el, target, source, sibling) => {
    if (target === source) {
      return
    }

    const formData = new FormData()
    formData.append("pk", el.dataset.pk)
    formData.append("album", target.dataset.album)

    if (target.id === "album-container") {
        formData.append("action", "add")
    } else if (target.id === "photos") {
        formData.append("action", "remove")
    }

    fetch('/albums/add-remove/', {
      body: formData,
      method: 'POST'
    }).then(() => {})
  })
</script>
{% endblock %}