{% extends "base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static 'js/photo.js' %}"></script>
{% endblock %}

{% block content %}
<header class="masthead mb-auto">
    <main role="main" class="inner cover">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            {% if album.title %}
          <h1 class="display-4 font-weight-normal">{{ album.title }}</h1>
          <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
          <a class="btn btn-outline-secondary" href="{% url 'add_photo_to_album' pk=album.pk %}">Add Photo</a>
          <a class="btn btn-outline-secondary" href="{% url 'delete_album' pk=album.pk  %}">Delete Album</a>
          <a class="btn btn-outline-secondary" href="{% url 'list_albums'  %}">All Albums</a>
          <br>
           <a id="toggle-favorite" data-album-id = "{{ album.pk }}" class="no-underline pointer dib grow f3" id='parent-favorite'>
            {% if user_favorite %}
             &#9733;
             {% else %}
             &#9734;
             {% endif %}
           </a>
          {% endif %}
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div> 
      </main>
       </nav>
  </header>

<div class="flex flex-wrap">
    {% for photo in photos %}
   
    <div class="mw5 center br3 pa1-ns mv2">
  
      {% if photo.photo %}
      <div class="flex"><img class="zoom" src="{{ photo.photo_thumbnail.url }}"></div>
      {% endif %}
  
      <br>
      
      <p>
          <i class="fa fa-trash"></i>
          <a style="text-decoration:none" class="black-90" href="{% url 'delete_photo' pk=photo.pk %}">delete</a><br>
      </p>
     
</div>
{% endfor %}
    






<script>
    const toggleFavoriteLink = document.querySelector("#toggle-favorite")
    toggleFavoriteLink.addEventListener('click', function (e) {
      e.preventDefault()
      const albumId = toggleFavoriteLink.dataset['albumId']
      fetch(`/albums/${albumId}/favorite/`, {
          method: 'POST'
      })
      .then(res => res.json())
      .then(data => {
          if (data.favorite) {
              toggleFavoriteLink.innerHTML = '&#9733;'
        } else {
      toggleFavoriteLink.innerHTML = '&#9734;'
        }
      })
  
    })
  </script>

{% endblock %}
