<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock meta %}
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Incandescent Iconography</title>

</head>

<body class="sans-serif" >
    <nav class="flex justify-end bb bg-black b--white-10">
      <div class="flex-grow pa3 flex items-center mt2 mb0 f6 fw4 ttu tracked">
        {% if user.is_authenticated %}
        <p class="mr4 serif i white">You are logged in as {{ user.username }}</p>
        <a class="f6 link dib white dim mr3 mr4-ns" href={% url 'auth_logout' %}>Log Out</a>
        {% else %}
        <a class="f6 link dib white dim mr3 mr4-ns" href={% url 'auth_login' %}>Log In</a>
        <a class="f6 dib white bg-animate hover-bg-white hover-black no-underline pv2 ph4 br-pill ba b--white-20" href={% url 'registration_register' %}>Register</a>
        {% endif %}
      </div>
    </nav>
    <div class="ma5">
      {% block content %}
      {% endblock content %}
    </div>
  </body>

</html>